* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #c2dcf1;
}

.contactus {
    padding: 80px 20px; /* Ajuste o padding */
}

.contactus .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #edf9ff;
}

.box {
    display: grid;
    grid-template-columns: 2fr 1fr;  
    grid-template-areas: 
        "form info"
        "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact {
    padding: 40px;
    background: #edf9ff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.contact.info {
    background-color: #0e3459;
    padding: 20px;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .contactus {
        padding: 40px 10px; /* Reduzir padding em telas menores */
    }

    .box {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
        grid-template-areas: 
            "form"
            "info"
            "map";
    }

   

    .inputbox {
        width: 100%; 
    }

    .row50 {
        flex-direction: column; 
    }

    .contact.map iframe {
        width: 100%; 
        height: 300px;  
    }
}

@media (max-width: 480px) {
    .contactus .title {
        font-size: 1.5em;  
    }
}
