#promocoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.dishes {
    width: 100%;
    display: flex;
    justify-content: center;  
    gap: 16px; 
    margin-top: 32px;
    overflow-x: auto;  
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;  
    gap: 12px;  
    width: 18%;  
    padding: 15px;  
    background-color: rgb(20, 22, 22);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);  
    position: relative;
    box-sizing: border-box; 
    overflow:hidden ;
}

.dish-star {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
font-size: 1. 563rem;
color: aliceblue;
width: 70px;
right: -10px;
border-radius: 0px 37.5px 0px 42.5px;
}

.dish-star-img {
    max-width: 100%;
    width: 120px;  
    height: auto;
    object-fit: cover;
    margin-bottom: 12px; 
}

.dish-title {
    font-size: 16px;  
    color: #fff;
    text-align: center;
}

.dish-description {
    font-size: 12px;  
    color: #ccc;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .dishes {
        flex-wrap: wrap;  
        justify-content: center;  
    }

    .dish {
        width: calc(50% - 12px);  
        margin-bottom: 12px;  
    }
}

 
@media screen and (max-width: 768px) {
    .dish {
        width: calc(100% - 12px);  
    }
}