  
body {
    font-family: Arial, sans-serif;
    background-color: #e5f0ff;
    color: #0b162e;
    margin-top: 160px;
    
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e5f0ff;
    
}
h1 {
    text-align: center;
    color: #0a4072;
}
p {
    line-height: 1.6;
} 

.subtittle{
    font-size:x-large;
    border: #0b162e;
}

 