@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* { 
   font-family: 'Poppins', sans-serif;
   margin: 0%;
   padding: 0%;
   box-sizing:border-box;
}
   
body{
  background-color: #dfebf1;
} 
section{
  padding: 2px; 
}

.btn_default{
  border:none;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: black;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(red, green, blue, alpha); 
  cursor: pointer;
  transition:background-color 3s ease;
  color: rgb(223, 243, 242)
}

 .btn_default:hover{
  background-color:#0e233a;                                                            
 }

 .social-media-buttons {
  display: flex;
  gap: 18px;
 }
 
 .social-media-buttons a {
  display:flex;
  align-items: center;
  justify-content : center;
  width: 45px;
  height: 40px;
  background-color: aliceblue;
  font-size: 1.25rem;
  border-radius:none;
  text-decoration: none;
  color:#0e233a;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0.1);
 }

 .social-media-buttons a:hover{
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0.1);

 }
  
 .section-title{
  color: #0e233a;
  font-size: 1.563rem;
 }
.section-subtitle{
  font-size: 2.1875rem;
}