 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #c2dcf1;
    margin-top: 50px;
    margin-top: 100px;
}

.contactus {
    width: 100%;
    padding: 40px 20px;
}

.contactus .title {
    text-align: center;
    font-size: 2em;
    color: #edf9ff;
}

.box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "form info"
        "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact {
    padding: 40px;
    background: #edf9ff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.contact.form {
    grid-area: form;
}

.contact.info {
    grid-area: info;
    background-color: #0e3459;
    padding: 20px;
    color: #fff;
}

.contact.map {
    grid-area: map;
}

.contact h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.formbox {
    display: flex;
    flex-wrap: wrap;
}

.row50 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.inputbox {
    width: 48%;
    margin-bottom: 20px;
}

.row100 .inputbox {
    width: 100%;
}

.inputbox input, .inputbox textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

textarea {
    height: 150px;
    width: 100%;
    resize: none;
}

.inputbox input[type="submit"] {
    background: #0e3459;
    color: #edf9ff;
    border: none;
    font-size: 1.1rem;
    max-width: 120px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.inputbox input[type="submit"]:hover {
    background: #c2dcf1;
    color: #0e3459;
}

.infobox {
    display: flex;
    flex-direction: column;
}

.infobox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.infobox span {
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
}

.infobox p, .infobox a {
    color: #fff;
    text-decoration: none;
}

.sci {
    display: flex;
    margin-top: 20px;
}

.social-icon {
    margin-right: 10px;
    color: #007bff;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.social-icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .box {
        display: flex;
        flex-direction: column;
    }

    .contact.form,
    .contact.info,
    .contact.map {
        width: 100%;
        margin-bottom: 20px;
    }

    .row50 {
        flex-direction: column;
    }

    .inputbox {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 300px;
    }
}
